/* Font style */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

/* shared style */

.bg{
  background-color: #FFF8F3;
}

/* header */
.header{
  background-image: url('../images/developer.png'), url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: left, right bottom;
}


  /* Nav style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 38px 0px 230px;
}

/* Nav title */
.nav-title {
  font-size: 45px;
  font-weight: bolder;
}

/* Nav items */
.nav-item ul {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-item li {
  list-style: none;
}

/* Nav links */
.nav-item a {
  color: #474747;
  text-decoration: none;
}
.header img{
  padding-top: 1opx; padding-left: 10px;
}

/* Button */
.btn-1 {
  width: 150px;
  height: 64px;
  color: white;
  background-color: #FD6E0A;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  border: none;
}

/* banner style */
.banner{
  display: flex; align-items: center;
  justify-content: space-between;
  margin: 0 38px 0px 230px; 
}
.b-greetings {
  font-weight: 600;
  font-size: 45px;
  padding-bottom: 10px;
  margin: 0;
  line-height: 1;
}
.b-name {
  font-weight: bold;
  font-size: 85px;
  padding-top: 0px;
  margin: 0;
  line-height: 1;
}
.banner-content{
  max-width: 585px; padding: 0px; margin: 0px;
}

/* main style */
.main{
  max-width: 1140px;
  margin: 0px auto;
}

/* about style */
.about{
  border-radius: 10px;
  padding: 130px 150px;
  background-color: #FFF8F3;
  margin-top: 130px;
  text-align: center;
}
.about-items{
  display: flex;
  justify-content: space-around;
}

/* skill style */

.skill-container{
  max-width: 1140px; margin-top: 130px; margin-bottom: 130px;
}
.do{
  padding: 0px auto; text-align: center;
}
.skills{
  display: flex; justify-content: space-around;
}
.skill{
  width: 267px; height: 377px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  margin-top: 100px;
}
.skill-title{
  color: rgba(24, 24, 24, 1);
}
.skill-description{
  padding-top: 20px;
}